.bg-image {
  /* The image used */
  background-image: url("https://thumbs.dreamstime.com/b/indian-constitution-bharatiya-savidhana-preamble-people-india-writings-paper-placed-indian-flag-concept-207844113.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}